<tr class="colored_row">
  <td><%= camper.number %></td>
  <td><%= camper.lname %></td>
  <td><%= camper.fname %></td>
  <td><%= camper.position %></td>
  <td><%= link_to "Show", camper %></td>
</tr>
