  <table class="contact_information">
    <tr>
      <th>Mother</th>
      <th>Father</th>
      <th>Guardian</th>
    </tr>  
    <tr>
      <td><%= @camper.mother_name %></td>
      <td><%= @camper.father_name %></td>
      <td><%= @camper.guardian_name %></td>
    </tr>
    <tr>
      <td><%= @camper.mother_phone %></td>
      <td><%= @camper.father_phone %></td>
      <td><%= @camper.guardian_phone %></td>
    </tr>
    <tr>
      <td><%= @camper.mother_email %></td>
      <td><%= @camper.father_email %></td>
      <td><%= @camper.guardian_email %></td>
    </tr>
  </table>
