<%= semantic_form_for @camper do |f| %>
  <%= render "shared/error_messages", :target=>@camper %>
  <%= f.inputs  "General Information" do %>
  <%= f.input :lname, :label=>"Last Name" %>
  <%= f.input :fname, :label=>"First Name" %>
  <%= f.input :mname, :label=>"Middle Name" %>
  <%= f.input :pref_name, :label=>"Preferred Name" %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :state, :as=>:select, :collection=>Camper::US_STATES %>
  <%= f.input :zip %>
  <%= f.input :phone1, :label=>"Home Phone" %>
  <%= f.input :gender, :as=>:select, :collection=>["Male","Female"] %>
  <%= f.input :race, :as=>:select, :collection=>Camper::RACES %>
  <%= f.input :shirt_size, :as=>:select, :collection=>Camper::SHIRT_SIZES %>
  <% end %>
  <%= f.inputs "School Information" do  %>
  <%= f.input :school, :as=>:select, :collection=>School.all %>
  <%= f.input :grade, :as=>:select, :collection=>Camper::GRADES %>
  <%= f.input :teacher %>
  <% end %>
  <%= f.inputs "Other Information" do %>
  <%= f.input :dob, :label=>"Birthdate", :as=>:date, :start_year=>Time.now.year-20 %>
  <%= f.input :roomate_choice %>
  <% end %>
  <%= f.inputs "Contact Information" do %>
    <h3>Mother</h3>
    <%= f.input :mother_name %>
    <%= f.input :mother_phone %>
    <%= f.input :mother_email %>
    <h3>Father</h3>
    <%= f.input :father_name %>
    <%= f.input :father_phone %>
    <%= f.input :father_email %>
    <h3>Guardian</h3>
    <%= f.input :guardian_name %>
    <%= f.input :guardian_phone %>
    <%= f.input :guardian_email %>
  <% end %>
  <%= f.inputs "Medical Information" do %>
    <%= f.input :last_tetnus_shot, :as=>:date %>
    <%= f.input :physician_insurance_info %>
    <%= f.input :emergency_info %>
    <%= f.input :immunizations_current %>
    <%= f.input :release_authorization %>
  <% end %>
  <%= f.inputs "Counselors" do %>
    <%= f.input :pool_spotting %>
    <%= f.input :counselor_years %>
    <%= f.input :rec_zone %>
  <% end %>
  <%= f.inputs "Paperwork" do %>
    <%= f.input :code_of_conduct %>
    <%= f.input :parental_signatures %>
    <%= f.input :media_release %>
    <%= f.input :equine_release %>
  <% end %>
  <%= f.inputs "Office Use Only" do %>
    <%= f.input :number %>
    <%= f.input :pack %>
    <%= f.input :bus %>
    <%= f.input :collage_purchased %>   
  <% end %>
  <%= f.buttons %>
<% end %>
