<h2><%= @header_text || "Currently Enrolled Camper"%></h2>

<!--search form-->
<% form_tag :action=>'search', :method => 'get' do %>
<p>
	<%= text_field_tag :search , params[:search]%>
	<%= submit_tag "Search", :name=>nil %>
	<% if params[:search] %>
		<%= link_to 'Show All', :action=>'list' %>
	<% end %>
</p>
<% end %>

<!--End Search form-->

<%= link_to 'New camper', :action => 'new' %>

<% unless @campers.empty? %>
	<table>
	  <tr>
		<%= sort_header_tag('number', :text => 'Camper Id') %>
		<%= sort_header_tag('lname', :text => 'Last') %>
		<%= sort_header_tag('fname', :text => 'First') %>
		<%= sort_header_tag('position', :text=>'Position') %>
		<th>Status</th>
	  </tr>
	<% for camper in @campers %>
	  <tr class="<%= cycle("even", "odd") %>" 	onmouseover="ChangeColor(this, true);" 
		              onmouseout="ChangeColor(this, false);" 
		              onclick="DoNav('/campers/show/<%= camper.id %>');">
		<td class="standard_table"><%= camper.number %></td>
		<td class="standard_table"><%= camper.lname %></td>
		<td class="standard_table"><%= camper.fname %></td>
		<td class="standard_table"><%= camper.position_text %></td>
		<td class="standard_table"><%= camper.status %></td>
	  </tr>
	<% end %>
	</table>
	<%= will_paginate @campers %>
<% end %>


<br />

