<% if can? :new, Camper %>
<%= link_to 'New Camper', :action=>'new' %> | 
<% end %>
<%= link_to 'Edit', :action => 'edit', :id => @camper %> |
<%= link_to 'Back', :action => 'list' %>

<h1><%= @camper.header %></h1>
<%= inactive_information(@camper) %>

<div id="registration_info" class="camper_section">
  <div id="camper_proper_name">
    Proper Name: <%= @camper.proper_name %>
  </div>
</div>
<div id="personal_info">
  <h2>Personal Information</h2>
  <div id="age">
    Age: <%= @camper.age %>
  </div>
  <div id="dob">
    <%= dob(@camper) %>
  </div>
  <div id="shirt_size">
    Shirt Size: <%= @camper.shirt_size %>
  </div>
  <div id="gender">
    Gender:  <%= @camper.gender  %>
  </div>
  <div id="camper_race_show">
    Race: <%= @camper.race %>
  </div>
  <div id="camper_e-mail_show">
    E-mail: <%= mail_to @camper.email %>
  </div>
  <div id="address">
    Address: <br />
    <%= @camper.address %> <br />
  </div>
  <div id="location_line">
    <%= @camper.city %>, <%= @camper.state %> <%= @camper.zip %>
  </div>
  <div id="phone_show_camper">
    Phone: <%= @camper.phone1 unless @camper.phone1.blank? %>
  </div>

  <div id"camper_counselor_years_show">
    Previous Years Counseling: 
    <% if @camper.counselor_years.blank? %>
    N/A
    <% else %>
    <%= @camper.counselor_years %>
    <% end %>
  </div>

</div>
<div id="camp_info">
  <h2>Camp Information</h2>
  <div id="postion">Position: <%= @camper.position %></div>
  Preferred Roomate: <%= @camper.roomate_choice %><br />
  Bus Assignment: <%= @camper.bus_name %><br />
  Room: <%= @camper.room_name %><br />
  Pack: <%= @camper.pack_name %><br />
  <div id="room_assignment">
  </div>
  <div id="rec_zone">
    Rec zone assignment: <%= if_assigned(@camper.rec_zone) %>
  </div>
  <div id="pool_spotting">
    Pool spotting assignment: <%= if_assigned(@camper.pool_spotting) %>
  </div>
</div>

<div id="contact_information">
  <h2>Contact Information</h2>
  <%= render "contact_information" %>
</div>

<div id="camper_school_info_show">
  <h2>School Information</h2>
  <div id="school">
    School: <%= @camper.school %>
  </div>
  <div id="grade">
    Grade: <%= @camper.grade %>
  </div>
  <div id="teacher">
    Teacher:  <%= @camper.teacher %>
  </div>
</div>

<div id="health_info">
  <h2>Health Concerns</h2>
  <ul id ="health_info_itmes">
    <li>Physician insurance info?  <% if @camper.physician_insurance_info? %> Yes <% else %> No <% end %></li>
    <li>Emergency Contact Info?  <% if @camper.emergency_info? %> Yes <% else %> No <% end %></li>
    <li>Immunizations current?  <% if @camper.immunizations_current? %> Yes <% else %> No <% end %></li>
  </ul>
  <div id="last_tetnus_shot">
    <%= tetnus_shot(@camper) %>
  </div>

  <p id ="health_info_text_area">
    <% if @camper.health_concerns.blank? %>
      The camper has no listed health concerns.
    <% else %>
      <%= @camper.health_concerns %>
    <% end %>
  </p>
</div>

<!--Course Selection List-->
<%= render "courses" %>

<div id="other_info">
  <h2>Other Information</h2>
  <ul id="other_info">
    <li> Code of Conduct? <% if @camper.code_of_conduct? %> Yes <% else %> No <% end %></li>
    <li> Media Release? <%=	@camper.media_release %></li>
    <li> Equine Release? <% if @camper.equine_release? %> Yes <% else %> No <% end %></li>
    <li> Pickup release authorization? <% if @camper.release_authorization? %> Yes <% else %> No <% end %></li>
    <li> Parental Signatures? <% if @camper.parental_signatures? %> Yes <% else %> No <% end %></li>
  </ul>
</div>
<!--End of Course Selection List-->

<%= render "payments" %>

<hr />
<% if can_view_item('campers', 'destroy')  %>
<div id="delete camper">
  <%= link_to "Delete this camper", @receipt, :confirm => 'Are you sure?', :method => :delete %>

  <% end %>

</div>

