<h1>Listing rights</h1>

<table>
  <tr>
  </tr>

<% for right in @rights %>
  <tr>
	<td><%= right.name %></td>
	<td><%= right.controller %></td>
	<td><%= right.action %></td>
    <td><%= link_to 'Show', :action=>'show', :id=>right %></td>
    <td><%= link_to 'Edit', :action=>'edit', :id=>right %></td>
    <td><%= link_to 'Destroy', :confirm => 'Are you sure?', :action=>'destroy', :id=>right %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rights', {:action=>'new'} %>
