<h1>Listing roles - <%= @roles.length %></h1>

<table>
  <tr>
  </tr>


<% for role in @roles %>
  <tr>
	<td><%= role.name %></td>
    <td><%= link_to 'Show', :action=>'show', :id=>role %></td>
    <td><%= link_to 'Edit', :action=>'edit', :id=>role %></td>
    <td><%= link_to 'Destroy', :confirm => 'Are you sure?', :action=>'destroy', :id=>role %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New roles', :action=>'new' %>
