<h2>Listing courses</h2>

<table id="courses">
  <tr>
    <th>Name</th>
  </tr>
<% for course in @courses %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= course.name %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course_path(course), :method=>:delete, :confirm => "Are you sure?" %></td>
  </tr>
<% end %>
</table>


<%= link_to 'New course', new_course_path %>
