<% for column in Course.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= in_place_editor_field :course, column.name %> 

</p>
<% end %>
<% unless @course.campers.blank? %>
<h3>There are <%= @course.campers.count %> Campers Currently Interested in <%= @course.name %></h3>
<ul>
	<% @course.campers.each do |c| %>
	<li><%= c.full_name %></li>
	<% end %>
</ul>
<% end %>


<%= link_to 'Edit', :action => 'edit', :id => @course %> |
<%= link_to 'Back', :action => 'list' %>
