<p>
  <b>Name:</b>
  <%=@unit.name %>
  <b>Camp Cost:</b>
  <%= @unit.camp_price %>
  <b>Collage Cost:</b>
  <%= @unit.collage_price %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
