<h2>Current Users</h2>
<%= link_to 'View Roles', {:controller=>'roles'} %> | 
<%= link_to 'View Permissions', {:controller=>'rights'} %>
<ul>
	<% @users.each do |u| %>
		<li class="user_list">
			<%= u.username %>
			<%= link_to 'Edit', {:action=>'edit',:id=>u} %>
			<%= link_to 'Remove', {:action=>'destroy',:id=>u},
								:confirm=>"Are you SURE you want to remove this user?" %>
		</li>
	<% end %>
</ul>
<%= link_to 'Add a New User', {:action=>'signup'}%>
<hr />