<h2>Buses</h2>

<table>
  <tr>
  	<th>Name</th>
	<th>Capacity</th>
	<th>Current Load</th>
	<th>Seats Remaining</th>
  </tr>
  
<% for bus in @buses %>
  <tr class="<%= cycle("even", "odd") %>">
	<td><%= bus.name %></td>
	<td><%= bus.capacity %></td>
	<td><%= bus.current_load %></td>
	<td><%= bus.seats_remaining %></td>
    <td><%= link_to 'Show', :action => 'show', :id => bus %></td>
	<td><%= link_to 'Add Campers', :action => 'add_campers', :id => bus %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => bus %></td>
    <td><%= link_to "Delete", bus, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bus', :action => 'new' %>
