<%= semantic_form_for @receipt do |f| %>
	<%= f.inputs "Payer Information", :id=>"payer_information" do  %>
		<%= f.input :fname %>
		<%= f.input :lname %>
		<%= f.input :address %>
		<%= f.input :phone, :hint=>"Ex: 276-555-1234 or 2765551234 " %>
		<%= f.input :city %>
		<%= f.input :state, :as=>:select, :collection=>@states %>
		<%= f.input :zip, :input_html => { :size => 5 } %>
	<% end %>
	
	<%= f.inputs "Payment Information", :id=>"payment_information" do %>
		<%= content_tag :div, :id=>"payment_cost_notification" do  -%>
			**The price for two campers is <%= number_to_currency(@camp_price  * 2) %>  and the price for 3 campers is <%= number_to_currency(@camp_price *3) %>**
		<% end -%>'
		<% value = @receipt.amount ||  number_to_currency(@camp_price, :format=>"%n") %>

		<%= f.input :amount, :input_html=>{:value=>value}%>
		<%= f.input :payment_method, :as=>:radio, :collection=>["Cash", "Check","Money Order"],:selected=>"Check", :input_html=>{:onchange=>"change_payment_method(this.id)"} %>
		<%= f.input :payment_extra, :label=>"Check/Money Order Number", :input_html=>{:size=>10} %>	
	<% end %>
	<%= f.inputs "Camper Information", :id=>"camper_information"  do %>
	<%= content_tag(:small, "**Camper id must start with A,B,G,S,P or T**") %>
		<%= content_tag :span, :id=>"camper_1" do %>
			<%= f.input :camper1, :label=>"Camper 1 Name" %>
			<%= f.input :camper1_id, :label=>"Camper 1 ID Number" %>
			<%= render :partial=>"collage_links", :locals=>{:camper=>"1", :f=>f} %>
		<% end %>
		<%= content_tag :span, :id=>"camper_2", :style=>"display:none"  do %>
			<%= f.input :camper2, :label=>"Camper 2 Name" %>
			<%= f.input :camper2_id, :label=>"Camper 2 ID Number" %>
			<%= render :partial=>"collage_links", :locals=>{:camper=>"2", :f=>f} %>
		<% end %>
		<%= content_tag :span, :id=>"camper_3", :style=>"display:none" do %>
			<%= f.input :camper3, :label=>"Camper 3 Name" %>
			<%= f.input :camper3_id, :label=>"Camper 3 ID Number" %>
			<%= render :partial=>"collage_links", :locals=>{:camper=>"3", :f=>f} %>
		<% end %>
		<%= content_tag :div, :id=>"camper_link_1", :class=>"add_camper_link" do %>
			<%= link_to_function "Add another camper", nil, :id => "camper_link_1_link"  do |page|
			    	page[:camper_2].visual_effect :blind_down
			    	page.show :camper_link_2
			    	page.remove :camper_link_1
					page <<"var camp_price = parseInt(document.getElementById('receipt_amount').value);"
					page <<"document.getElementById('receipt_amount').value = (camp_price + #{@camp_price});"
					page[:receipt_amount].visual_effect :pulsate
					page[:receipt_amount].visual_effect :highlight
			  		end %>
		<% end %>
		<div id="camper_link_2" class="add_camper_link" <% if @receipt.camper2.blank? %>style="display:none"<% end %> >
		<%= link_to_function("Add another camper", nil, :id => "camper_link_1_link") do |page|
				page[:camper_3].visual_effect :blind_down
				page.remove :camper_link_2
				page <<"var camp_price = parseInt(document.getElementById('receipt_amount').value);"
				page <<"document.getElementById('receipt_amount').value = (camp_price + #{@camp_price});"
				page[:receipt_amount].visual_effect :pulsate
				page[:receipt_amount].visual_effect :highlight
			end %>
		</div>
	<% end %>
	<%= f.buttons %>
<% end %>