<h1>Editing receipt</h1>

<%= form_for(@receipt, :url=>{:action => 'update', :id=>@receipt}) do  |f| %>
  <%= render :partial => f, :locals=>{:f=>f} %>
  <%= submit_tag "Update" %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @receipt %> |
<%= link_to 'Back', receipts_path %>
