	<h2 id="stats_header">Stats</h2>
	<% if can_view_statistics "receipts" %>
	<hr />
	<h3 class="stats_sub">Receipts</h3>
	<ul class="stats">
		<li class="stat_item">Total: <%= Receipt.find_standard_receipts.length %></li>
	</ul>
	<% end %>
	
	<% if can_view_statistics "campers" %>
		<hr />
		<h3 class="stats_sub">Enrollment</h3>
		<ul class="stats">
			<li class="stat_item"><strong class="stat_sub_category">Campers</strong></li>
				<li class="stat_item">
					Female:<%= camper_female = Camper.active.current_unit.female.campers.count %>
				</li>				
				<li class="stat_item">
					Male: <%= camper_male = Camper.active.current_unit.male.campers.count %>
				</li>
				<li class="stat_item">
					Total: <%= total_camper = camper_male + camper_female  %>
				</li>
			<li class="stat_item"><strong class="stat_sub_category">CITs</strong></li>
				<li class="stat_item">
					Female:<%= cit_female = Camper.active.current_unit.female.cit.count %>
				</li>				
				<li class="stat_item">
					Male: <%= cit_male = Camper.active.current_unit.male.cit.count %>
				</li>
				<li class="stat_item">
					Total: <%= total_cit = cit_male + cit_female  %>
				</li>
			<li class="stat_item"><strong class="stat_sub_category">Teens</strong></li>
				<li class="stat_item">
					Female:<%= teen_female = Camper.active.current_unit.female.teen.count %>
				</li>				
				<li class="stat_item">
					Male: <%= teen_male = Camper.active.current_unit.male.teen.count %>
				</li>
				<li class="stat_item">
					Total: <%= total_teen = teen_male + teen_female  %>
				</li>
			<li class="stat_item"><strong class="stat_sub_category">Adults</strong></li>
				<li class="stat_item">
					Female:<%= adult_female = Camper.active.current_unit.female.adult.count %>
				</li>				
				<li class="stat_item">
					Male: <%= adult_male = Camper.active.current_unit.male.adult.count %>
				</li>
				<li class="stat_item">
					Total: <%= total_adult = adult_male + adult_female  %>
				</li>
			<li class="stat_item">
				<strong>Grand Total: <%= total_adult + total_cit + total_camper + total_teen %></strong>
			</li>

		</ul>
	<% end %>
	
	<% if can_view_statistics "courses" %>
	<hr />
	<h3 class="stats_sub">Courses</h3>
	<ul class="stats">
		<% @courses = Course.find_standard_courses %>
		<% if @courses.empty? %>
			<li>No courses listed</li>
		<% end %>
		<% @courses.each do |c| %>
			<% if c.name.length > 7 %>
				<li class="stat_item"><%= c.name.slice(0..6) %>...: <%= c.campers.length || 0 %>
			<% else %>
				<li class="stat_item"><%= c.name %>: <%= c.campers.length || 0 %>
			<% end %>
		<% end %>
	</ul>
	<% end %>
	<!--
		<hr />
	
	<div style="background:red">
	<h3 class="stats_sub">Incomplete</h3>

	<ul class="stats">
		<li class="stat_item">Forms: 132</li>
		<li class="stat_item">Bus: 12</li>
		<li class="stat_item">Courses: 12</li>			
	</ul>
	</div>
-->